// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// my CSS
body{
  margin:0;
  padding: 0;
}

h1{
  text-align: center;
}

.navbar{
  background-color: #f8f8f8;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navbar-content{
  margin: 0 15px;

  a{
    text-decoration: none;
    color: grey;
  }

  a:hover{
    color: black;
  }
}

.main-container{
  width: 60%;
  margin: auto;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 30px 0;
}

.card{
  padding: 15px;
  box-shadow: 2px 4px 10px grey;
  border-radius: 7px;

  h4{
    text-align: center;
  }

  p{
    margin: 0 0 5px;
  }

  .btn{
    margin: 0;
    font-size: 15px;
  }
}

.center{
  display: block;
  margin-top: 20px;
}
